.btn-subscribe {
  width: 141px;
  height: 44px;
  padding: 8px 14px;
  background: var(--hover-color);
  border-radius: 50px;
  border: 1px solid var(--hover-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}
.btn-subscribe.active {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
}


