.profile-page {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .profile-sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: max-content;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px !important;
  }

  .profile-img {
    display: flex;
    align-self: center;
    text-align: center;
    flex-direction: column;
  }
  
  .img {
    width: 172px;
    height: 159px;
    border-radius: 12px;
    margin-bottom: 15px;
  }
  
  .main-content {
    width: 70%;
    background-color: #ffffff;
    border-radius: 12px !important;

  }
  
  .job-info, .personal-data, .contact-data {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .profile-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .field {
    background-color: #F7F9FA;
    padding: 10px 0px 10px 30px;
    border-radius: 8px;
    max-height: 54px;
  }

  .grid .full-width {
    grid-column: span 2;
  }

  h3{
    color: #616161;
    font-size: 16px;
  }

  h1{
    color: #7A7A7A;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px !important;
  }

  h2 {
    color: #1189F4 !important;
    font-size: 15px;
  }

  p {
    font-size: 14px;
    color: #616161;
    font-weight: 400;
  }
  
  .value {
    background-color: #f0faf9;
    padding: 10px;
    border-radius: 8px;
  }
  